{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <div class="row">
        <div class="card my-5 bg-dark border-0 mx-auto" style="max-width: 600px;">
            <div class="row g-2">
              <div class="col-md-4">
                <img src="../static/images/foto.jpg" class="img-fluid rounded" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body d-flex flex-column">
                  <h1 class="card-title">Hi, I'm <span class="text-info">Peter </span>🖐</h1>
                  <p class="card-text">I love learning new things! I have created this blog to collect my thoughts on various topics.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row my-5 text-center">
        <div class="col-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg>
        </div>
        <div class="col-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
            </svg>
        </div>
        <div class="col-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
            </svg>
        </div>
    </div>

    <div class="row text-center">
        <div class="col">
            <h3>Join the newsletter.</h3>
            <p>Let me send you the best of what I discover on the internet, what I've learned, and what I'm working on. No spam, ever. Unsubscribe at any time. Take a peek.</p>
        </div>
    </div>
    <form class="row  g-3 align-items-center">
        <div class="col-10 form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>

    <div class="row mt-5 mb-2">
        <h4>✍️ Recent blog posts</h4>
            {% for post in latest_posts %}
            <div class="list-group m-1">
                <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <!-- <small>{{ post.creted }}</small> -->
                  </div>
                  <p class="mb-1 text-white-50">{{ post.body|truncatewords_html:10 }}</p>
                </a>
              </div>
            {% endfor %}
    </div>

    <div class="row">
        <h4>📚 Recent book notes</h4>
        <div class="row my-3">
            <div class="col d-flex flex-row justify-content-evenly">
            {% for book in books %}
            <a href="#" class="link-info">
            <div class="card bg-dark border-0">
              <img src="{{ book.image.url }}" class="card-img rounded" alt="{{ book.title }} Book Cover Image">
            </div>
          </a>
            {% endfor %}
          </div>
        </div>
              
        </div>
          


    
{% endblock %}