.main-icons {
    color: red;
}

/* Navigation */
.navbar {
    color: #fff;
}

/* Latest blog posts */
.list-group a {
    padding: 20px;
    background-color: #212529;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.list-group a:hover {
    background-color: rgba(0,0,0,.10);
    color: #fff;
    border: none;
}

.list-group a:hover h5 {
    color: #0dcaf0;
}

/* Latest book notes */
.card {
    background-color: #212529;
    height: 200px;
    border: 0;
}

.card-img {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.card-img:hover{
    border: 2px solid #0dcaf0;
}