/* Navigation */
.navbar {
    color: #fff;
}

.navbar a:hover {
    color: #4dd0e1 !important;
}

/* Utils */
.input-group input {
    text-decoration: none;
    outline: none;
    border:none;
    box-shadow:none;
}

.input-group input:focus {
    text-decoration: none;
    outline: none;
    border:none;
    box-shadow:none;
}

.input-group input:active {
    text-decoration: none;
    outline: none;
    border:none;
    box-shadow:none;
}

/* Blog details & Markdown */
.blog-style :is(h1, h2, h3, h4, h5, h6) {
    color: #2196f3;
    font-weight: 600;
}

.blog-style strong, em {
    color: #ff8a80;
}

.blog-style a {
    color: #4dd0e1;
}

.card-project {
    /* border: 1px solid rgba(255, 255, 255, 0.09); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* Latest blog posts */
.card.card-index a {
    border: none;
    color: #fff;
    text-decoration: none;
}

.card.card-index a:hover {
    color: #0dcaf0;
    border: none;
}

.card.card-index {
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card.card-index:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Latest Book Notes Main Page */
.card-main-page {
    background-color: #212529;
    height: 200px;
    border: 0;
}

.card-img-main-page {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.card-img-main-page:hover{
    border: 2px solid #0dcaf0;
}

/* Books - Cards */
.card-books-page {
    background-color: #212529;
    /* height: 200px; */
    min-height: 220px;
    min-width: 180px;
    border: 0;
}

.card-body.card-books-page {
    padding: 0;
    /* padding-left: 15px; */
}

.card-img-books-page {
    width: 0;
    height: 0;
    min-width: 76%;
    min-height: 100%;
    max-width: 76%;
    max-height: 100%;
    border-radius: 13px;
    /* padding: 2px; */
}

.link-info {
    text-decoration: none;
}

.link-info:hover {
    text-decoration: underline;
}

/* Books card */
.card-img {
    width: 90%;
    height: 200px;

    object-fit: contain;
    /* object-fit: cover; */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Blog Section */
.card.card-blog a {
    border: none;
    color: #fff;
    text-decoration: none;
}

.card.card-blog a:hover {
    color: #0dcaf0;
    border: none;
}

.card.card-blog {
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card.card-blog:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Projects */
.carousel img {
    border: 1px solid #ccc;
    border-radius: 15px;

}

.carousel {
    border-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,30,117,1) 35%, rgba(41,120,136,1) 100%); 
}

.carousel:hover img {
    opacity: .2;
    transition: all .6s;
}

/* .carousel:hover .info {
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
} */

.carousel .carousel-control-prev,
.carousel .carousel-control-next
{
    visibility: hidden;
    opacity: 1;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next
{
    visibility: visible;
    animation-duration: 1s;
    transition-timing-function: linear;
}

.carousel:hover .carousel-control-prev
{
    animation-name: FadeInPrev;
}

.carousel:hover .carousel-control-next
{
    animation-name: FadeInNext;
}

@keyframes FadeInPrev
{
    0%
    {
        opacity: 0;
        padding-left: 40px;
    }
    100%
    {
        opacity: 1;
        padding-left: 0px;
    }
}

@keyframes FadeInNext
{
    0%
    {
        opacity: 0;
        padding-right: 40px;
    }
    100%
    {
        opacity: 1;
        padding-right: 0px;
    }
}

/* Home Page Picture Media Queries */

.img-thumbnail {
    width: 180px;
    height: 240px;
}

@media (max-width: 576px) { 
    .img-thumbnail {
        width: 170px;
        height: 220px;
    }
 }

