{% extends 'blog/base.html' %}
{% block title %}Learning | Peter Hrncirik{% endblock title %}
{% block content %}
<div class="row my-2 my-md-4">
    <div class="col">
        <h2>📋 Learning resources</h2>
        <p>I have started learning programming on my own and along the way found some amazing resources some of which you can find listed down below.</p> 
        <hr />
      <div>
        <h4>Courses</h4>
        <ol class="list-group list-group-numbered">
          <p>Hands down the best course series I have been through and an overall introduction into Computer Science and Programming is the <span class="fw-bold text-light">CS50</span> series by <span class="fw-bold text-light">Harvard University<span>.</p>
          <p>This series was just amazing. The most important thing is that the course teaches you <span class="fw-bold text-light">how to think (algorithmically)</span> and <span class="fw-bold text-light">solve problems</span>, instead of just memorizing syntax.</p>
          <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-white">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="https://www.harvardonline.harvard.edu/course/cs50-introduction-computer-science" class="text-info">CS50: Introduction to Computer Science</a></div>
              Introduction into CS & Programming. I am rating this course 11/10. Amazing teacher, challenging and interactive exercises. You can find <a href="https://github.com/peterhrncirik/Harvard-CS50">my solutions here</a>.
            </div>
            {% comment %} <span class="badge bg-primary rounded-pill">14</span> {% endcomment %}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-white">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="https://pll.harvard.edu/course/cs50s-web-programming-python-and-javascript?delta=0" class="text-info">CS50’s Web Programming with Python and JavaScript</a></div>
              Basics of programming web applications. Somehow I lost my solution to exercises, except the <a href="https://github.com/peterhrncirik/concise_app">final project</a>.
            </div>
            {% comment %} <span class="badge bg-primary rounded-pill">14</span> {% endcomment %}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-white">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><a href="https://pll.harvard.edu/course/cs50s-introduction-programming-python?delta=0" class="text-info">CS50's Introduction to Programming with Python</a></div>
              Learning mainly Python's standard library, but also some external libraries. You can find <a href="https://github.com/peterhrncirik/CS50-Python">my solutions here</a>
            </div>
            {% comment %} <span class="badge bg-primary rounded-pill">14</span> {% endcomment %}
          </li>
        </ol>
    </div>
    <div>
      <hr />
      <h4>Books</h4>
      <p>Some of the technical books which I found really useful</p>
         <div class="row text-center my-4">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/23241059-python-crash-course?from_search=true&from_srp=true&qid=6qfRt7QOHt&rank=1" target="_blank">
              <img src="../../static/images/PCC.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/4099.The_Pragmatic_Programmer" target="_blank">
              <img src="../../static/images/PP.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/41392896-beyond-the-basic-stuff-with-python?ac=1&from_search=true&qid=E08Hpg8uro&rank=1" target="_blank">
              <img src="../../static/images/pbs.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/61896036-django-4-by-example?ac=1&from_search=true&qid=NfawqSuH6F&rank=3" target="_blank">
              <img src="../../static/images/django4.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/22514127-automate-the-boring-stuff-with-python?ac=1&from_search=true&qid=fAVTwpd7VT&rank=1" target="_blank">
              <img src="../../static/images/ATS.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/61157620-javascript?ac=1&from_search=true&qid=VDMJFFXCKe&rank=2" target="_blank">
              <img src="../../static/images/jsd.png" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
          <div class="col my-1">
            <a href="https://www.goodreads.com/book/show/8910666-eloquent-javascript?ac=1&from_search=true&qid=RQfOYFneEf&rank=1" target="_blank">
              <img src="../../static/images/jse.jpg" class="img-fluid rounded-start" alt="..." style="max-width: 160px;">
            </a>
          </div>
        <div>
        </div>  


    </div>
</div>
{% endblock content %}