{% extends 'blog/base.html' %}
{% block title %}Books | Peter Hrncirik{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
    <h1 class="my-2 my-md-4">Books 📚</h1>
    {% comment %} <p> 🔍 You can search for a book by title, author, or category. Clicking any of the categories below will filter the results. </p> {% endcomment %}
    {% comment %} <h3>Categories</h3> {% endcomment %}
    <form>
      <div>
        <form>
          <input type="search" name='query' class="form-control" id="query" aria-describedby="query" placeholder="Search book" hx-post='/search-books/' hx-trigger='keyup changed delay:500ms' hx-target='#main'>
          {% csrf_token %}
        </form>
      </div>
    </form>
    </div>
</div>
<hr/>
<div class="container">
  {% comment %} <div class="row mt-2 row-cols-1 row-cols-lg-2 g-3" id='main'> {% endcomment %}
  <div class="row mt-2 row-cols-1 g-3" id='main'>
        {% for book in books %}
        <div class="col">
        <div class="card bg-dark border-0">
            <div class="row g-0">
              <div class="col-12 col-md-4">
                <img src="{{ book.image.url }}" class="card-img rounded" alt="{{ book.title }} book cover image">
              </div>
              <div class="col-12 col-md-8">
                <div class="card-body d-flex flex-column  d-flex justify-content-start align-items-start">
                  <div class="h-100">
                  <h5 class="card-title"><a href="{{ book.get_absolute_url }}" class="link-info stretched-link">{{ book.title }}</a></h5>
                  <p class="card-text"><small class="text-muted">{{ book.author }}</small></p>
                  <p class="card-text">{{ book.about }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  </div> 
   </div>
  </div>
</div>

{% endblock %}