{% extends 'blog/base.html' %}
{% block title %}My Books{% endblock %}
{% block content %}
<div class="row my-5">
    <div class="col">
    <h1>Books 📚</h1>
    <p> Books are an amazing learning tool. </p> 
    <p> Below you can find some of the books I have already finished and made some notes along the way. </p>
    <p> You can add me on GoodReads as well. </p>
    <p> 🔍 You can search for a book by title, author, or category. Clicking any of the categories below will filter the results. </p>
    <hr/>
    <form>
      <div class="mb-3">
        <input type="search" class="form-control" id="find_book" aria-describedby="find_book" placeholder="Search book">
      </div>
    </form>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for book in books %}
        <div class="col">
        <div class="card card-books-page">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="{{ book.image.url }}" class="card-img-books-page" alt="{{ book.title }} book cover image">
              </div>
              <div class="col-md-6">
                <div class="card-body card-books-page">
                  <h5 class="card-title"><a href="#" class="link-info stretched-link">{{ book.title }}</a></h5>
                  <p class="card-text"><small class="text-muted">{{ book.author }}</small></p>
                  <p class="card-text">{{ book.body }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
</div>

{% endblock %}