{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title%}{{ post.title }}{% endblock %}
{% block content %}
    <div class="row text-center mt-5 mb-3">
        <div class="col">
            <h1>{{ post.title }}</h1>
            <p class="date">
                {{ post.publish|date:'F j, Y' }}   <span class="text-muted">| {{ post.body|readtime }}</span>
            </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col blog-style">
            {{ post.body|markdown}}
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h5 class="text-white">You may also like:</h5>
            <ul>
            {% for post in similar_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}" class="link-info">
                        {{ post.title }}
                    </a>
                </li>
                {% empty %}
            </ul>
            There are no similar posts yet.
            {% endfor %}
        </div>
    </div>
    
    <!-- {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
  {% include "blog/post/includes/comment_form.html" %} -->
{% endblock %}