{% for post in posts %}
            <div class="col">
              <div class="card card-blog m-1">
                <div class="card-body">
                  {% for topic in post.topics.all %}
                  <span class="badge bg-secondary my-2">{{ topic }}</span>
                  {% endfor %}
                  <h5 class="card-title fw-semibold"><a href="{{ post.get_absolute_url }}" class="stretched-link" aria-current="true">{{ post.title }}</a></h5>
                  <p class="card-text text-muted">{{ post.summary|truncatewords_html:10 }}</p>
                  {% comment %} <p class="card-text"><small class="text-muted">{{ post.created|date:'F j, Y' }}</small></p> {% endcomment %}
                </div>
              </div>
            </div>
            {% endfor %}