{% load django_bootstrap5 %}
{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
</head>
<body class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-10 col-lg-8 mx-auto mt-5">
                <nav class="navbar navbar-expand">
                    <div class="container-fluid">
                        <div class="navbar-nav">
                          <a class="nav-link text-white" aria-current="page" href="{% url 'blog:index' %}">Home</a>
                          <a class="nav-link text-white" href="{% url 'blog:blog' %}">Blog</a>
                          <a class="nav-link text-white" href="{% url 'blog:books' %}">Books</a>
                          <a class="nav-link text-white" href="{% url 'blog:projects' %}">Projects</a>
                          <a class="nav-link text-white" href="{% url 'blog:learning' %}">Learning</a>
                        </div>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-8 mx-auto">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>